<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="JDTReviewCategory"
            name="JDT Review">
      </category>
      <command
            categoryId="JDTReviewCategory"
            name="Run JDT Review"
            id="JDTReviewCommand">
      </command>
      <command
            categoryId="JDTReviewCategory"
            name="Get Workspace Stats"
            id="SourceCountCommand">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unnivp.jdtstaticanalysis.handlers.JDTReviewHandler"
            commandId="JDTReviewCommand">
      </handler>
      <handler
            class="org.unnivp.jdtstaticanalysis.handlers.SourceCodeCountHandler"
            commandId="SourceCountCommand">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="JDTReviewMenu"
               label="JDT Review"
               mnemonic="J">
            <command
                  commandId="JDTReviewCommand"
                  id="JDTReviewMenuItem"
                  mnemonic="R">
            </command>
            <command
                  commandId="SourceCountCommand"
                  id="SourceCountMenuItem"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="JDTReviewToolbar">
            <command
                  id="JDTReviewToolbarItem"
                  commandId="JDTReviewCommand"
                  icon="icons/suppress_warning.png"
                  tooltip="Run JDT Review">
            </command>
            <command
                  id="SourceCountToolbarItem"
                  commandId="SourceCountCommand"
                  icon="icons/source_code.png"
                  tooltip="Get Workspace Stats">
            </command> 
         </toolbar>
      </menuContribution>
   </extension>

   <extension
      point="org.eclipse.ui.views">
      <view
         	class="org.unnivp.jdtstaticanalysis.markers.JDTReviewMarkerView"
         	icon="icons/source_code.png"
         	id="JDTReviewMarkerView"
         	name="JDT Review Results">
      </view>
   </extension>
   
   <extension
      point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="JDTReviewMarkerGenerator"
            name="JDT Review Marker Generator">
                  <markerTypeReference
                         id="org.eclipse.core.resources.marker"/>
                  <markerFieldReference
                         id="org.eclipse.ui.ide.descriptionField"/>
                  <markerFieldReference
         				 id="org.eclipse.ui.ide.resourceField"/>
                  <markerFieldReference
         				 id="JDTReview.ProjectField"/>
         		  <markerFieldReference
         				 id="org.eclipse.ui.ide.locationField"/>
      </markerContentGenerator>
      
      <markerField
      		class="org.unnivp.jdtstaticanalysis.markers.ProjectField"
      		id="JDTReview.ProjectField"
      		name="Project">
	  </markerField>

   </extension>

</plugin>
