<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.unnivp.jdtstaticanalysis.commands.JDTReviewCategory"
            name="JDT Review">
      </category>
      <command
            categoryId="org.unnivp.jdtstaticanalysis.commands.JDTReviewCategory"
            name="Source Code Stats"
            id="org.unnivp.jdtstaticanalysis.commands.SourceCountCommand">
      </command>
      <command
            categoryId="org.unnivp.jdtstaticanalysis.commands.JDTReviewCategory"
            name="Suppress Warning Stats"
            id="org.unnivp.jdtstaticanalysis.commands.SuppressWarningAnnotationCommand">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unnivp.jdtstaticanalysis.handlers.SourceCodeCountHandler"
            commandId="org.unnivp.jdtstaticanalysis.commands.SourceCountCommand">
      </handler>
      <handler
            class="org.unnivp.jdtstaticanalysis.handlers.SuppressWarningAnnotationHandler"
            commandId="org.unnivp.jdtstaticanalysis.commands.SuppressWarningAnnotationCommand">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.unnivp.jdtstaticanalysis.commands.JDTReviewBindingCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.unnivp.jdtstaticanalysis.menus.JDTReviewMenu"
               label="JDT Review"
               mnemonic="M">
            <command
                  commandId="org.unnivp.jdtstaticanalysis.commands.SourceCountCommand"
                  id="org.unnivp.jdtstaticanalysis.menus.SourceCountMenuCommand"
                  mnemonic="C">
            </command>
            <command
                  commandId="org.unnivp.jdtstaticanalysis.commands.SuppressWarningAnnotationCommand"
                  id="org.unnivp.jdtstaticanalysis.menus.SuppressWarningAnnotationMenuCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.unnivp.jdtstaticanalysis.toolbars.JDTReviewToolbar">
            <command
                  id="org.unnivp.jdtstaticanalysis.toolbars.SourceCountToolbarCommand"
                  commandId="org.unnivp.jdtstaticanalysis.commands.SourceCountCommand"
                  icon="icons/source_code.png"
                  tooltip="Source Code Stats">
            </command>
            <command
                  id="org.unnivp.jdtstaticanalysis.toolbars.SuppressWarningAnnotationToolbarCommand"
                  commandId="org.unnivp.jdtstaticanalysis.commands.SuppressWarningAnnotationCommand"
                  icon="icons/suppress_warning.png"
                  tooltip="Suppress Warning Stats">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
